body {
    background-color: white;
    font-size: .75em;
}

#title {
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
  font-size:x-medium;
}

#quitAppButton {
    float: right;
}
#refreshButton {
    float: right;
}


#myChartDiv {
  width: 480px;
  height: 380px;
  text-align: center;
}
